<!-- views/_tweet.ejs -->
<article class="tweet">
	<!-- tweet text -->
	<div class="tweet-one">
		<span class="tweet-rank">
			<%= tweet.rank %>
		</span>

		<span class="tweet-body">
			<div id="_tweet-body">
				<%= tweet.body %>
			</div>
			<div class="tweet-two">
				<span class="tweet-user">
					@<%= tweet.user %>
				</span>
				 &emsp; 

				<span class="tweet-vote-count">
					<%= tweet.vote_count %>
				</span>
				<% if(login) { %>
					<button class="vote_button" name="vote_button" id="<%= tweet.id %>">&#10004;</button>
				<% } %>
				<% if(tweet.voted) {%>
					<script type='text/javascript'>
					console.log("tweet.voted");
					$(".vote_button").css("background-color","#ED5780");
					</script>
				<% } %>

				<!-- <button class="neg_button" name="neg_button" id="<%= tweet.id %>">▼</button> -->
			</div>
		</span>
	</div>

</article>